@media screen and (max-width:1130px) {
    .bg img {
        width: 500px;
    }
    .header-text {
        max-width: 350px;
    }
    .header-text .h1 {
        font-size: 2.5rem;
        letter-spacing: 0px;
    }
}

@media screen and (max-width:945px) {
    .bg img {
        width: 430px;
    }
    .header-text {
        max-width: 300px;
    }
    .header-text .h1 {
        font-size: 2rem;
    }
    .blogs-column h3 {
        display: none;
    }
    section.channel img {
        width: 100%;
    }
    .channel .col h1 {
        font-size: 30px;
    }
    .channel p {
        font-size: 16px;
    }
    .channel span {
        font-size: 14px;
    }
    .contactcol img {
        height: 450px;
        width: 450px;
    }
    .course p {
        font-size: 14px;
        line-height: 20px;
        padding: 2px;
    }
    .contactus .row {
        display: block;
    }
    .row {
        display: block !important;
    }
    #video-section .col-md-6 {
        padding: 15px !important;
    }
}

@media screen and (max-width:795px) {
    .bg img {
        width: 400px;
    }
    .header-text {
        max-width: 300px;
    }
    .header-text .h1 {
        font-size: 1.5rem;
    }
    .navlist {
        align-items: center;
        flex-direction: row;
        display: flex;
        justify-content: center;
    }
    .navbar {
        height: 20vh;
        display: flex;
        transition: all 0.7s ease-out;
        flex-direction: column;
    }
    .navlist ul li a {
        font-size: 13px;
    }
    .burger {
        display: block;
    }
    .height-nav-resp {
        height: 50px;
    }
    .visibility-class-resp {
        opacity: 0;
    }
    .height-nav {
        height: 300px;
    }
    .contactcol input,
    textarea {
        padding: 10px;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .contactus .btn {
        padding: 12px 20px;
        font-size: 12px;
    }
    .course h3 {
        font-size: 16px;
    }
    .course p {
        font-size: 12px;
        line-height: 15px;
        padding: 0px;
    }
}

@media screen and (max-width:680px) {
    .bg img {
        width: 350px;
    }
    .header-text {
        max-width: 280px;
        padding-top: 70px;
        margin-right: 40px;
        margin-left: 40px;
    }
    .header-text .h1 {
        font-size: 1.2rem;
    }
    nav {
        padding-left: 10px;
    }
    p {
        font-size: 12px;
        line-height: 15px;
    }
    .common-btn {
        padding: 8px 20px;
    }
    .channel .col h1 {
        font-size: 25px;
    }
    .channel p {
        font-size: 14px;
    }
    .channel span {
        font-size: 12px;
    }
    .row {
        margin-top: 3%;
        display: block;
        margin: 26px;
    }
    section.channel .row {
        display: block;
        line-height: 2;
    }
    .content__item {
        margin: 25px 0;
    }
    iframe {
        width: 350px !important;
        height: 200px!important;
    }
    nav ul {
        left: -25px;
    }
    nav ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .bg img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .contactcol img {
        height: 260px;
        width: 260px;
    }
    .navlist {
        flex-direction: column;
    }
}

@media screen and (max-width: 380px) {
    .contactcol img {
        display: none;
    }
    .course h1 {
        font-size: 30px;
        font-weight: 600;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 9px;
        line-height: 13px;
    }
    .header-text .h1 {
        font-size: 1rem;
    }
    .circle,
    .line1 {
        height: 15px;
        width: 15px;
        margin: 5px 0;
    }
    nav ul li a {
        font-size: 11px;
    }
    .common-btn {
        padding: 7px 10px;
        font-size: 9px;
    }
    .contactus .btn {
        padding: 8px 12px;
        font-size: 8px;
    }
    .contactcol input,
    textarea {
        padding: 5px;
        margin-bottom: 8px;
        font-size: 9px;
    }
    .copyright {
        font-size: 10px;
    }
    .copyright span {
        font-size: 12px;
    }
    .contactcol {
        margin: 0px;
    }
    .channel .row {
        margin: 0;
    }
    iframe {
        width: 247px !important;
        height: 147px!important;
    }
}

@media screen and (max-width:300px) {
    .bg img {
        display: none;
    }
    nav ul li {
        padding-left: 6px;
    }
    .header-text {
        display: block;
    }
    .course {
        margin-top: 100px;
    }
    .course h1 {
        font-size: 22px;
    }
    .course p {
        font-size: 10px;
        line-height: 13px;
    }
    h1 {
        font-size: 25px;
    }
    .channel .col h1 {
        font-size: 20px;
    }
    .channel p {
        font-size: 12px;
    }
    nav ul li a {
        font-size: 10px;
    }
}